<!doctype html>
<head>
    <title>Math 4 Study Tools</title>
    <meta lang="en-us">
    <link rel="stylesheet" href="style.css">
    <script defer src="//unpkg.com/mathlive"></script>
</head>
<body>
    <div id="mainSect">
        <div id="titleSect">
            <h1 id="title">Identities</h1>
            <p id="explainer">Make sure to delete all extra parenthesis before checking answers.  Answers should be formatted according to <a href="Trig+ID.pdf" alt="Trig Identities" download>this</a> sheet</p>
        </div>
        <div id="problemSect">
            <div class="identityCont">
                <p class="identitySectTitle">Quotient Identities</p>
                <math-field class="mathField" onfocus="this.value = this.value;">\tan \theta = </math-field>
                <math-field class="mathField" onfocus="this.value = this.value;">\cot \theta = </math-field>
            </div>
            <div class="identityCont">
                <p class="identitySectTitle six">Reciprocal Identities</p>
                <div class="colCont">
                    <div class="col">
                        <math-field class="mathField" onfocus="this.value = this.value;">\sin \theta = </math-field>
                        <math-field class="mathField" onfocus="this.value = this.value;">\cos \theta = </math-field>
                        <math-field class="mathField" onfocus="this.value = this.value;">\tan \theta = </math-field>
                    </div>
                    <div class="col">
                        <math-field class="mathField" onfocus="this.value = this.value;">\csc \theta = </math-field>
                        <math-field class="mathField" onfocus="this.value = this.value;">\sec \theta = </math-field>
                        <math-field class="mathField" onfocus="this.value = this.value;">\cot \theta = </math-field>
                    </div>
                </div>
            </div>
            <div class="identityCont">
                <p class="identitySectTitle">Pythagorean Identities</p>
                <math-field class="mathField" onfocus="this.value = this.value;">1 = </math-field>
                <math-field class="mathField" onfocus="this.value = this.value;">1 = </math-field>
                <math-field class="mathField" onfocus="this.value = this.value;">1 = </math-field>
            </div>
            <div class="identityCont">
                <p class="identitySectTitle six">Even/Odd Identities</p>
                <div class="colCont">
                    <div class="col">
                        <math-field class="mathField" onfocus="this.value = this.value;">\sin (-\theta) = </math-field>
                        <math-field class="mathField" onfocus="this.value = this.value;">\tan (-\theta) = </math-field>
                        <math-field class="mathField" onfocus="this.value = this.value;">\csc (-\theta) = </math-field>
                    </div>
                    <div class="col">
                        <math-field class="mathField" onfocus="this.value = this.value;">\cos (-\theta) = </math-field>
                        <math-field class="mathField" onfocus="this.value = this.value;">\cot (-\theta) = </math-field>
                        <math-field class="mathField" onfocus="this.value = this.value;">\sec (-\theta) = </math-field>
                    </div>
                </div>
            </div>
            <div class="identityCont">
                <p class="identitySectTitle six">Cofunction Identities</p>
                <div class="colCont">
                    <div class="col">
                        <math-field class="mathField" onfocus="this.value = this.value;">\sin\left(\frac{\pi}{2} - \theta\right) = </math-field>
                        <math-field class="mathField" onfocus="this.value = this.value;">\tan\left(\frac{\pi}{2} - \theta\right) = </math-field>
                        <math-field class="mathField" onfocus="this.value = this.value;">\csc\left(\frac{\pi}{2} - \theta\right) = </math-field>
                    </div>
                    <div class="col">
                        <math-field class="mathField" onfocus="this.value = this.value;">\cos\left(\frac{\pi}{2} - \theta\right) = </math-field>
                        <math-field class="mathField" onfocus="this.value = this.value;">\cot\left(\frac{\pi}{2} - \theta\right) = </math-field>
                        <math-field class="mathField" onfocus="this.value = this.value;">\sec\left(\frac{\pi}{2} - \theta\right) = </math-field>
                    </div>
                </div>
            </div>
            <div class="identityCont">
                <p class="identitySectTitle">Sum/Difference Identities</p>
                <math-field class="mathField" onfocus="this.value = this.value;">\sin(\theta \pm \phi) = \pm</math-field>
                <math-field class="mathField" onfocus="this.value = this.value;">\cos(\theta \pm \phi) = \mp</math-field>
                <math-field class="mathField" onfocus="this.value = this.value;">\tan(\theta \pm \phi) = \frac{\pm}{\mp}</math-field>
            </div>
            <div class="identityCont">
                <p class="identitySectTitle">Double Angle Identities</p>
                <math-field class="mathField" onfocus="this.value = this.value;">\sin(2\theta) = </math-field>
                <math-field class="mathField" onfocus="this.value = this.value;">\cos(2\theta) = </math-field>
                <math-field class="mathField" onfocus="this.value = this.value;">\cos(2\theta) = </math-field>
                <math-field class="mathField" onfocus="this.value = this.value;">\cos(2\theta) = </math-field>
                <math-field class="mathField" onfocus="this.value = this.value;">\tan(2\theta) = </math-field>
            </div>
            <div class="identityCont">
                <p class="identitySectTitle">Half Angle Identities</p>
                <math-field class="mathField" onfocus="this.value = this.value;">\sin\left(\frac{\theta}{2}\right) = \pm</math-field>
                <math-field class="mathField" onfocus="this.value = this.value;">\cos\left(\frac{\theta}{2}\right) = \pm</math-field>
                <math-field class="mathField" onfocus="this.value = this.value;">\tan\left(\frac{\theta}{2}\right) = \pm</math-field>
                <math-field class="mathField" onfocus="this.value = this.value;">\tan\left(\frac{\theta}{2}\right) = </math-field>
                <math-field class="mathField" onfocus="this.value = this.value;">\tan\left(\frac{\theta}{2}\right) = </math-field>
            </div>
            <div id="checkCont">
                <button id="check" onclick="checkWork()">Check work</button>
                <p id="resultsText"></p>
            </div>
        </div>
        <br><br><br><br><br><br>
    </div>
    <script>
        const fields = document.getElementsByClassName('mathField');
        const quotientEquations = [
            "\\tan \\theta=\\frac{\\sin \\theta}{\\cos \\theta}",
            "\\cot \\theta=\\frac{\\cos \\theta}{\\sin \\theta}"
        ];
        const reciprocalEquations = [
            "\\sin \\theta=\\frac{1}{\\csc \\theta}",
            "\\cos \\theta=\\frac{1}{\\sec \\theta}",
            "\\tan \\theta=\\frac{1}{\\cot \\theta}",
            "\\csc \\theta=\\frac{1}{\\sin \\theta}",
            "\\sec \\theta=\\frac{1}{\\cos \\theta}",
            "\\cot \\theta=\\frac{1}{\\tan \\theta}"
        ];
        const pythagoreanEquations = [
            "1=\\sin ^{2} \\theta+\\cos ^{2} \\theta",
            "1=\\sec ^{2} \\theta-\\tan ^{2} \\theta",
            "1=\\csc ^{2} \\theta-\\cot ^{2} \\theta"
        ];
        const evenOddEquations = [
            "\\sin (-\\theta)=-\\sin \\theta",
            "\\tan (-\\theta)=-\\tan \\theta",
            "\\csc (-\\theta)=-\\csc \\theta",
            "\\cos (-\\theta)=\\cos \\theta",
            "\\cot (-\\theta)=-\\cot \\theta",
            "\\sec (-\\theta)=\\sec \\theta"
        ];
        const cofunctionEquations = [
            "\\sin \\left(\\frac{\\pi}{2}-\\theta\\right)=\\cos \\theta",
            "\\tan \\left(\\frac{\\pi}{2}-\\theta\\right)=\\cot \\theta",
            "\\csc \\left(\\frac{\\pi}{2}-\\theta\\right)=\\sec \\theta",
            "\\cos \\left(\\frac{\\pi}{2}-\\theta\\right)=\\sin \\theta",
            "\\cot \\left(\\frac{\\pi}{2}-\\theta\\right)=\\tan \\theta",
            "\\sec \\left(\\frac{\\pi}{2}-\\theta\\right)=\\csc \\theta"
        ];
        const sumDifferenceEquations = [
            "\\sin (\\theta \\pm \\phi)=\\sin \\theta \\cos \\phi \\pm \\cos \\theta \\sin \\phi",
            "\\cos (\\theta \\pm \\phi)=\\cos \\theta \\cos \\phi \\mp \\sin \\theta \\sin \\phi",
            "\\tan (\\theta \\pm \\phi)=\\frac{\\tan \\theta \\pm \\tan \\phi}{1 \\mp \\tan \\theta \\tan \\phi}"
        ];
        const doubleAngleEquations = [
            "\\sin (2 \\theta)=2 \\sin \\theta \\cos \\theta",
            "\\cos (2 \\theta)=\\cos ^{2} \\theta-\\sin ^{2} \\theta",
            "\\cos (2 \\theta)=2 \\cos ^{2} \\theta-1",
            "\\cos (2 \\theta)=1-2 \\sin ^{2} \\theta",
            "\\tan (2 \\theta)=\\frac{2 \\tan \\theta}{1-\\tan ^{2} \\theta}"
        ];
        const halfAngleEquations = [
            "\\sin \\left(\\frac{\\theta}{2}\\right)= \\pm \\sqrt{\\frac{1-\\cos \\theta}{2}}",
            "\\cos \\left(\\frac{\\theta}{2}\\right)= \\pm \\sqrt{\\frac{1+\\cos \\theta}{2}}",
            "\\tan \\left(\\frac{\\theta}{2}\\right)= \\pm \\sqrt{\\frac{1-\\cos \\theta}{1+\\cos \\theta}}",
            "\\tan \\left(\\frac{\\theta}{2}\\right)=\\frac{\\sin \\theta}{1+\\cos \\theta}",
            "\\tan \\left(\\frac{\\theta}{2}\\right)=\\frac{1-\\cos \\theta}{\\sin \\theta}"
        ];


        let equations = [quotientEquations, reciprocalEquations, pythagoreanEquations, evenOddEquations, cofunctionEquations, sumDifferenceEquations, doubleAngleEquations, halfAngleEquations];
        
        equations = equations.reduce((acc, curr) => acc.concat(curr), []);

        let results = document.getElementById("resultsText");

        function fillWork () {
            for (let i = 0; i < fields.length; i++) {
                fields[i].value = equations[i];
            }
        }

        function printWork () {
            for (let i = 0; i < fields.length; i++) {
                console.log(fields[i].value);
            }
        }

        let numCorrect = 0;
        function checkWork () {
            numCorrect = 0;
            for (let i = 0; i < fields.length; i++) {
                let fieldVal = fields[i].value.replace(/[(){}\/[\]^"'\s]|\/(right|left)/g, '');
                let eqVal = equations[i].replace(/[(){}\/[\]^"'\s]|\/(right|left)/g, '');
                if (fieldVal == eqVal) {
                    fields[i].style.setProperty('border-color', 'rgb(0, 255, 0)', 'important');
                    numCorrect += 1;
                } else {
                    fields[i].style.setProperty('border-color', 'rgb(255, 0, 0)', 'important');
                }
            }
            results.innerHTML = "Correct: " + numCorrect + "/36 (" + ((numCorrect/36)*100).toFixed(2) + "%)";
        }
        </script>
</body>




<!--

\sin(-\theta)=-\sin\theta
trigIdentities:169 \tan(-\theta)=-\tan\theta
trigIdentities:169 \csc(-\theta)=-\csc\theta
trigIdentities:169 \cos(-\theta)=\cos\theta
trigIdentities:169 \cot(-\theta)=-\cot\theta
trigIdentities:169 \sec(-\theta)=\sec\theta


\sin (-\theta)=-\sin \theta \quad 
trigIdentities:169 \tan (-\theta)=-\tan \theta \quad 
trigIdentities:169 \csc (-\theta)=-\csc \theta \quad 
trigIdentities:169 \cos (-\theta)=\cos \theta
trigIdentities:169 \cot (-\theta)=-\cot \theta
trigIdentities:169 \sec (-\theta)=\sec \theta

-->